.input h1 {
    color: blue;
}

.input input {
    width: 250px;
    height: 25px;
}

.input button {
    width: 60px;
    height: 30px;
    border-color: red;
    color: green;


}
.todos
{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap; 
    
}
.todos_single
{
    display: flex;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    
}
.icon
{
    width: 25%;
    margin-left: 10px;
}